.MainBackGround{
  position: relative;
  background: black;
  width: 100%;
  height:min(400vw,4000px);
  text-emphasis-color: white;
  z-index: 0;
}
.Elips{
  width: 45vw;
  height: 45vw; 
  max-width: 1000px;
  filter: blur(min(20vw,160px));
  border-radius: 500px; /* Добавлены единицы измерения */
  top: -30vw;
  background: #7337BD;
  position: relative;
}
.second{
  background:  #993677;
  position: relative;
  left: min(50vw, 1100px);
  top: -65vw;
}
.AllText{
  font-family: 'Poppins';
  top: max(-30vw,-100px);
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
}
.NameFirm{
  position: relative;
  text-align: center;
  top: 200px;
  font-size: min(10vw,128px);
}
.Logo{
  position: absolute;
  left: -30px;
  z-index: 2;
  width: min(30vw,250px);
  height: min(30vw,250px);
}
.NameFirm .Slogan{
  font-size: min(3.3vw,65px);
  top: min(10vw,130px);
}
.NameFirm .SomeTx{
  background: rgba(255, 255, 255, 0.301);
  border-radius: 12px;
  width: 98%;
  font-size: min(3.5vw,40px);
  left: 1vw;
  position: relative;
  top: min(-6vw,0px);
}
.AllElements{
  position: relative;
  z-index: 2;
}
.Connect{
  top: min(22vw,100px);
  position: relative;
  left: 71vw;
  width: min(27vw,400px);
  height: min(8vw,100px);

  
}
.BtText{
  font-size: min(2.5vw,30px);
  font-weight: 10px;
}
.AllEllemetFirst{
  height: 45%;
}
.CurPos{
  position: relative;
  top: min(-45vw,-100px);
}
.Whyyounedit{
  position: absolute;
  top: 5vw;
  width: 90vw;
  
}
.third{
  background: #3A2C4A;
}
.fourd{
  background: #635285;
}
.WhyYou{
  position: absolute;
  top: -10vw;
  left: 3vw;
  height: 10px;
  font-size: min(3.5vw,45px);
  font-family: 'Play';
  text-decoration-line: underline;
}
.DescrWhuYou{
  overflow-wrap: break-word;
  display: flex;
  text-align: center;
  position: absolute;
  font-size: min(3.5vw,30px);
  background: rgba(255, 255, 255, 0.301);
  border-radius: 12px;
  top: -3.5vw;
  left: 5vw;
}
.AllText{
  position: relative;
}
.OurIndividuality{
  position: relative;
  width: 90vw;
  height: min(155vw,800px);
  top: min(-25vw,-40px);
}
.Whyyounedit .AllText{
  position: relative;
  top: -20px;
}
.OurIndividuality .AllText{
  position: relative;
  top: 13vw;
}
.AllFrames{
  position: absolute;
  top: 4vw;
}
.Frame {
  border-radius: 20px;
  position: relative;
  background: #7337BD;
  display: inline-flex;
  padding: min(7vw,50px) 0 min(12vw,200px) 3px;
  width: min(30vw,250px);
  height: min(50vw,300px);;
  left: 3vw;
  box-sizing: border-box;
  margin-right: 3vw;
  text-align: center;
  margin-bottom: 40px;
}
.S{
  background: #24245D;
}
.T{
  background: #191B27;
}
.ImgLogo{
  font-family: 'Play';
  border-radius: 15px;
  position: absolute;
  background: white;
  width: min(20vw,180px);
  height: min(13vw,80px);
  left: min(2vw,150px);
  top:  min(-2vw,-20px);
  color: black;
  text-align: center;
  padding-top: min(3vw,20px);
  font-size: min(3vw,20px);
  text-decoration-line: underline;
}
.FrameText{
  font-size: min(3vw,20px);
}
.TryOurProduct{
  height: 20vw;
}
.TryOurProduct .Connect{
  position: relative;
  left: min(4vw,80px);
  top: -2vw;
}
.TryOurProduct .BtText{
  font-size: min(2.2vw,30px);
}
.AllFrameForUs{
  position: absolute;
  left: 4vw;
}
.FrameForUs{
  margin-left: 4vw;
  display: inline-block;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  top: min(-12vw,-110px);
  background: #4E4984;
  width: min(25vw,300px);
  height: min(40vw,400px);
}
.FrameForUsBottom{
  border-radius: 5px 5px 0px 0px ;
  position: relative;
  top: 60%;
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 40%;
  opacity: 1;
}
.FrameTextForUS{
  font-size: 20px;
  position: relative;
  margin-left: 10px;
  color: rgba(0, 0, 0, 1);
  z-index: 2;
}
.BottomElement{
  position: relative;
  top: 1px;
}
@media(max-width:390px){
  .BottomElement{
    position: relative;
    top: -40vw;
  }
  .OurIndividuality{
    top: -8vw;
  }
  .ImgLogo{
    left: 4.4vw;
    top: -8vw;
  }
}
@media(max-width:430px){
  .BottomElement{
    position: relative;
    top: -40vw;
  }
  .OurIndividuality{
    top: -8vw;
  }
}
@media(max-width:360px){
  .OurIndividuality{
    top: -9vw;
  }
}
@media(max-width:1024px){
  .OurIndividuality{
    top: -18vw;
  }
  .TryOurProduct{
    position: relative;
    top: 30px;
  }
}